<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<body>
<section layout:fragment="content">
    <h1>Create New Product</h1>
    <form th:action="@{/api/v1/admin/products}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label>Regular Price</label>
            <input type="number" th:field="*{regularPrice}"/>
            <span th:if="${#fields.hasErrors('regularPrice')}" th:errors="*{regularPrice}"></span>
        </div>
        <div>
            <label>Stock Quantity</label>
            <input type="number" th:field="*{stockQuantity}"/>
            <span th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}"></span>
        </div>
        <div>
            <label>Description</label>
            <textarea th:field="*{description}"></textarea>
        </div>
        <div>
            <label>Short Description</label>
            <textarea th:field="*{shortDescription}"></textarea>
        </div>
        <div>
            <label>Image</label>
            <input type="file" name="imageFile" accept="image/*" required/>
        </div>
        <div>
            <label>Rate</label>
            <input type="number" th:field="*{rate}" step="0.5"/>
        </div>
        <div>
            <label>Number of Rates</label>
            <input type="number" th:field="*{numberOfRate}"/>
        </div>
        <div>
            <label>Status</label>
            <input type="text" th:field="*{status}"/>
        </div>
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category:</label>
            <select th:field="*{categoryId}" class="form-control" id="categoryId">
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</section>
</body>
</html>
