<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<body>
<section layout:fragment="content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product</h1>
        <a th:href="@{/api/v1/admin/products/new}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add New Product</a>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Regular Price</th>
                        <th>Stock Quantity</th>
                        <th>Description</th>
                        <th>Short Description</th>
                        <th>Rate</th>
                        <th>Number of Rates</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Regular Price</th>
                        <th>Stock Quantity</th>
                        <th>Description</th>
                        <th>Short Description</th>
                        <th>Rate</th>
                        <th>Number of Rates</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody id="productList">
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td>
                            <img th:src="@{${product.imageUrl}}" alt="Product image" height="100px"/>
                        </td>
                        <td th:text="${product.regularPrice}"></td>
                        <td th:text="${product.stockQuantity}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.shortDescription}"></td>
                        <td th:text="${product.rate}"></td>
                        <td th:text="${product.numberOfRate}"></td>
                        <td th:text="${product.status}"></td>
                        <td th:text="${product.categoryName}"></td>
                        <td>
                            <div sec:authorize="hasAuthority('ADMIN')">
                                <a th:href="@{/api/v1/admin/products/edit/{id}(id=${product.id})}"
                                   class="btn btn-success btn-sm">Edit</a>
                                <a th:href="@{/api/v1/admin/products/delete/{id}(id=${product.id})}"
                                   class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
