<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<body>
<section layout:fragment="content">
    <h1>Edit User</h1>
    <form th:action="@{/api/v1/admin/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
        <div>
            <label>Email</label>
            <input type="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label>Username</label>
            <input type="text" th:field="*{username}"/>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div>
            <label>First Name</label>
            <input type="text" th:field="*{firstName}"/>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" th:field="*{lastName}"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div>
            <label>Phone Number</label>
            <input type="text" th:field="*{phoneNumber}"/>
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <label>Role</label>
            <select name="role">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</section>
</body>
</html>
