<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<body>
<section layout:fragment="content"
         style="max-width: 600px; margin: 50px auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="text-align: center; margin-bottom: 20px;">Update Status Order</h1>
    <form th:action="@{/api/v1/admin/orders/edit/{id}(id=${order.id})}" th:object="${order}" method="post">
        <div style="margin-bottom: 15px;">
            <label for="status" style="display: block; margin-bottom: 5px; font-weight: bold;">Status</label>
            <select th:field="*{status}"
                    style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;"
                    id="status">
                <option th:each="item : ${status}" th:value="${item}"
                        th:text="${item}">
                </option>
            </select>
        </div>
        <div style="text-align: center;">
            <button type="submit"
                    style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">
                Update
            </button>
        </div>
    </form>
</section>
</body>
</html>
