<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<body>
<section layout:fragment="content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Order</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Export Excel</a>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Email</th>
                        <th>Coupon</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>User Email</th>
                        <th>Coupon</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Actions</th>

                    </tr>
                    </tfoot>
                    <tbody id="orderList">
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.user.email}"></td>
                        <td th:text="${order.coupon.code}"></td>
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.totalAmount}"></td>
                        <td th:text="${order.status}"></td>
                        <td>
                            <div sec:authorize="hasAuthority('ADMIN')">
                                <a th:href="@{/api/v1/admin/orders/edit/{id}(id=${order.id})}"
                                   class="btn btn-success btn-sm">Edit</a>
                                <a th:href="@{/api/v1/admin/orders/delete/{id}(id=${order.id})}"
                                   class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                                <a th:href="@{/api/v1/admin/orders/view/{id}(id=${order.id})}"
                                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">View</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
