<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<body>
<section layout:fragment="content"
         style="max-width: 600px; margin: 50px auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div id="OrderItem">
        <h1 style="text-align: center; margin-bottom: 20px;">View Order</h1>

        <div th:each="orderItem : ${orderItems}">
            <form th:action="@{/api/v1/admin/orders/view/{id}(id=${orderItem.id})}" th:object="${orderItem}" method="post">
                <p>ID: <span th:text="${orderItem.id}"></span></p>
                <p>Product ID: <span th:text="${orderItem.product.Id}"></span></p>
                <p>Quantity: <span th:text="${orderItem.quantity}"></span></p>
                <p>Subtotal: <span th:text="${orderItem.subtotal}"></span></p>
                <div style="text-align: center;">
                    <a th:href="@{/api/v1/admin/order}"
                       style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: none; border-radius: 4px; cursor: pointer;">
                        Back Table
                    </a>
                </div>
                <hr>
            </form>
        </div>
        <div th:if="${#lists.isEmpty(orderItems)}">
            <p style="text-align: center;">No items in this order</p>
        </div>
    </div>
</section>
</body>
</html>
