<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="main-header-content" id="header">
    <div class="container">
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
                <div class="header-logo">
                    <a href="#" class="logo">
                        <img th:src="@{/client/img/logo.png}" alt="">
                    </a>
                </div>
            </div>

            <!-- SEARCH BAR -->
            <div class="col-md-6">
                <div th:replace="client/fragments/search :: search"></div>
            </div>

            <!-- ACCOUNT -->
            <div class="col-md-3 clearfix">
                <div class="header-ctn">
                    <!-- Wishlist -->
                    <div>
                        <a href="/wish-list">
                            <i class="fa fa-heart-o"></i>
                            <span>Your Wishlist</span>
                            <div class="qty">2</div>
                        </a>
                    </div>

                    <!-- Cart -->
                    <div th:replace="client/fragments/cart :: cart"></div>
                    <!-- /Cart -->

                    <!-- Menu Toggle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
